.Symptoms {
  height: 370px;
  padding-top: 10px;
}

.age_filter {
  display: flex;
  justify-content: flex-end;
}

.diagram {
  position: absolute;
  top: 0;
  left: 0;
}

.symptoms_tooltip {
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0.9;
  padding: 1rem;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.75);
}

.symptom {
  font-size: 16px;
  margin-bottom: 10px;
}

.dot {
  background: #ff7f01;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.label {
  margin-right: 1rem;
}
.cases {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
